a,li{
    list-style-type:none;
    display:inline-block;
    text-decoration:none;
    color:#fff;
    background:#395870;
    padding:4px;
    border-radius:5px;
    border-right:1px solid rgba(0,0,0,.3);
}
a:hover{
    background:#314b60;
    box-shadow:inset 0 0 10px 1px rgba(0,0,0,.3);
}